{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <h1 class="text-center">Pledre Login App</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="jumbotron">
        Welcome to Pledre Login app. Now you can easily
        register, login, and logout of your <a
           href="https://pledre.com">Pledre</a> account.
      </div>
    </div>
  </div>
{% endblock %}